
.jeux{
    width: 12.5rem;
    height: 15rem;
   
    border:2px solid;
    margin: 10px;
    display:flex;
    flex-direction: column;

    border-radius: 0.5rem;
    background-color: #a79e84;


}

.jeux img{
height: 70%;
width: 95%; 
margin:0px;
justify-content: start;
padding: 0.1rem;
background-color: inherit;
}

.plateformes img{
    height: 75%;
    width: 20%;
    margin:0px;
    justify-content: end;
    background-color: inherit;
}


.jeux h2{
    text-align: center;
    margin:0px;
    justify-content: center;
}


nav li img{
height: 100%;
width: 10%;
margin: 1px;
padding: 0.1rem;
}
nav ul{
    list-style: none;
}
nav li {
height: 25px;
width: 250px;
display: flex;
text-align: center;
justify-content: start;
}
nav li>a {
    color:azure;

}

div.conteneur{
    min-height: 100vh;
    display: grid;
    grid-template-columns: 250px auto;
    grid-template-rows: 2.5rem 1fr; 
    grid-template-areas:
      "entete  entete   "
      "menu     principal"
      "baspage   baspage "
}

.entete{
    grid-area: entete;
    display:flex;
    flex-direction: row;
    border-bottom: 0.1rem solid;
    
    justify-content: space-between; 
    align-items: center;
    background-color: #454140;
}

.entete img{
    width: 2.5rem;
}
.entete a{
    color: azure;
}

nav{
    grid-area: menu;
    display:flex;
    flex-direction:column;
    align-content:stretch;
    border-right: 0.1rem solid;
    background-color: #454140;  
}

.liste{
    display: flex;
    flex-wrap: wrap;
}


.principal {
    grid-area: principal;
    display: flex;
    flex-direction: column;
    background-color: #7a3b2e;
    min-height: 100vh;    
   
}


.baspage {
    height: 1rem;
    grid-area: baspage;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-top: 0.1rem solid;
    background-color: #454140;
    color: azure;
    border-color: black;
}
.deroulant {
    color: azure;
}